:root{
    --vermelho:#E50914;;
    --preto: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Elementos Base*/
body {
    background-color:var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}



header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 30px;
    margin-left: 5px;
 
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;

}

header nav a:hover{
    color: #fff;
}

/*Filme Principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/CapaRarefeito.jpg');

    height: 550px;
    background-size: cover;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-bottom: 40px;
}

.Titulo{
    font-size: 40px;
}